@model IEnumerable<APICliente.Models.VendasCliente>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4" style="text-decoration: underline">Sistema de Vendas</h1>
    <h3>Sistema WebMVC acessa uma WebAPI</h3>
    <br />
    <div>
        <a class="btn btn-primary col-3" asp-controller="VendasCliente" asp-action="Venda">Realizar uma Venda</a>
    </div>
</div>

<h2 style="text-decoration: underline">Vendas</h2>

<table class="table shadow col-8">
    <thead class="thead-light">
        <tr>
            <th>Código do Cliente</th>
            <th>Valor da Venda</th>
            <th>Data da Venda</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CodigoCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorVenda)</td>
                <td>@Html.DisplayFor(modelItem => item.DataVenda)</td>
            </tr>
        }
    </tbody>
</table>